.QuoteBox {
    padding: 20px;
    width: 80%;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
}

.QuoteBox-quote {
    font-style: italic;
}

.QuoteBox-author {
    text-align: right;
}

.fadeIn {
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.QuoteBox-button {
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    outline: none;
}